/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require sufia
 */

.brand.shield {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#masthead #logo {
  left:0;
  top:5px;
}

#masthead #logo:hover {
  text-decoration:none;
}

#logo:after {
  color:#FFF;
  content: 'ORCID Rails Integration Test';
  font-size:2em;
  line-height:1;
  opacity:.9;
}

#footer-wrapper {
  margin-bottom:800px; // To help with taking screenshots
}
